@using spotify_rating.Web.Enums
@model List<Record>
@{
    ViewData["Title"] = "spotify_rating";
}

<div class="card shadow-lg container my-5 col-lg-6 col-md-8 col-sm-10">
    <div class="p-5">
        <h3 class="mb-4 text-center">All Records</h3>
        <div class="list-group">
            @foreach (var record in Model.OrderByDescending(r => r.RatedAtUtc))
            {
                <div class="list-group-item list-group-item-action d-flex gap-3 py-3 align-items-center">
                    <img src="@record.SpotifyAlbumCoverUrl" class="rounded shadow-sm" style="width: 64px; height: 64px; object-fit: cover;" alt="Cover" />
                    <div class="flex-fill">
                        <div class="fw-semibold">@record.Title</div>
                        <div>@record.Artist</div>
                    </div>
                    @if (record.Rating == RecordRating.LIKE)
                    {
                        <span class="badge bg-success">@record.Rating.ToString()</span>
                    }
                    @if (record.Rating == RecordRating.SUPER_LIKE)
                    {
                        <span class="badge bg-info">@record.Rating.ToString()</span>
                    }
                    @if (record.Rating == RecordRating.DISLIKE)
                    {
                        <span class="badge bg-danger">@record.Rating.ToString()</span>
                    }
                </div>
            }
        </div>
    </div>
</div>